MauiVeilidLibrary/obj/Debug/net8.0-android/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.AssemblyInfo.cs
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.AssemblyInfoInputs.cache
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.assets.cache
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.GeneratedMSBuildEditorConfig.editorconfig
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.GlobalUsings.g.cs
MauiVeilidLibrary/obj/Debug/net8.0-ios/MauiVeilidLibrary.AssemblyInfo.cs
MauiVeilidLibrary/obj/Debug/net8.0-ios/MauiVeilidLibrary.AssemblyInfoInputs.cache
MauiVeilidLibrary/obj/Debug/net8.0-ios/MauiVeilidLibrary.assets.cache
MauiVeilidLibrary/obj/Debug/net8.0-ios/MauiVeilidLibrary.GeneratedMSBuildEditorConfig.editorconfig
MauiVeilidLibrary/obj/Debug/net8.0-ios/MauiVeilidLibrary.GlobalUsings.g.cs
MauiVeilidLibrary/obj/Debug/net8.0-maccatalyst/MauiVeilidLibrary.AssemblyInfo.cs
MauiVeilidLibrary/obj/Debug/net8.0-maccatalyst/MauiVeilidLibrary.AssemblyInfoInputs.cache
MauiVeilidLibrary/obj/Debug/net8.0-maccatalyst/MauiVeilidLibrary.assets.cache
MauiVeilidLibrary/obj/Debug/net8.0-maccatalyst/MauiVeilidLibrary.GeneratedMSBuildEditorConfig.editorconfig
MauiVeilidLibrary/obj/Debug/net8.0-maccatalyst/MauiVeilidLibrary.GlobalUsings.g.cs
MauiVeilidLibrary/obj/Debug/net8.0-windows10.0.19041.0/MauiVeilidLibrary.AssemblyInfo.cs
MauiVeilidLibrary/obj/Debug/net8.0-windows10.0.19041.0/MauiVeilidLibrary.AssemblyInfoInputs.cache
MauiVeilidLibrary/obj/Debug/net8.0-windows10.0.19041.0/MauiVeilidLibrary.assets.cache
MauiVeilidLibrary/obj/Debug/net8.0-windows10.0.19041.0/MauiVeilidLibrary.GeneratedMSBuildEditorConfig.editorconfig
MauiVeilidLibrary/obj/Debug/net8.0-windows10.0.19041.0/MauiVeilidLibrary.GlobalUsings.g.cs
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.assets.cache
MauiVeilidLibrary/MauiVeilidLibrary.csproj.SdkResolver.251308092.proj.Backup.tmp
MauiVeilidLibrary/MauiVeilidLibrary.csproj.SdkResolver.472744225.proj.Backup.tmp
MauiVeilidLibrary/MauiVeilidLibrary.csproj.SdkResolver.501476850.proj.Backup.tmp
MauiVeilidLibrary/MauiVeilidLibrary.csproj.SdkResolver.659224093.proj.Backup.tmp
MauiVeilidLibrary/MauiVeilidLibrary.csproj.SdkResolver.1782798888.proj.Backup.tmp
MauiVeilidLibrary/MauiVeilidLibrary.csproj.SdkResolver.1848915744.proj.Backup.tmp
MauiVeilidLibrary/obj/Debug/net8.0-android/MauiVeilidLibrary.csproj.AssemblyReference.cache
